img, embed, object, video {
  max-width: 100%;
}

body {
margin: 0;
}

* {
  box-sizing: border-box;
}

div#wrapper {

    margin-left:auto;

    margin-right:auto;

    width:960px;

}

input {
  display: block;
}
.headercontainer {
font-family: 'Open Sans Condensed', sans-serif;
display: flex;
justify-content: space-between;
width: 960px;
padding-left: 20px;
padding-right: 20px;
}

.logobox {
  margin-top: 20px;
}

.logobox img{
width: 80px;
height: auto;
}

.profilepic {
  margin-top: 50px;
  margin-left: 20px;
  display: inline-block;
  width: 100px;
}

.profilepic img {
  width: 100px;
  height: auto;
}

.navigation {
  padding-top: 45px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
display: inline-block;
text-align: center;
margin-left: 30px;

}

.navigation li::after {
  display: block;
  content: attr(title);
  font-weight: 700;
  visibility: hidden;
  height: 1px;
  color:transparent;
  overflow:hidden;
}

.navigation li a {
    display: inline-block;
    color: gray;
    font-size: 12pt;
    text-align: center;
    text-decoration: none;
}

.navigation li a:hover {
  color: black;
  font-weight: 700;
}

.loginwrapper{
			width: 500px;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 700;
			margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
		}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  ul.tabs li.current{
    background: #ededed;
    color: #222;
  }

  .tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
  }

  .tab-content.current{
    display: inherit;
  }
