<!DOCTYPE html>

{% extends 'layout.html' %}

{% block main %}
  <main>

    <h2 class = "creditheader">ABOUT US</h2>

    <div class = 'aboutwrapper'>
      <p>Founded in 1998 by Anne and Rudy Greene, Talent One is a film, television,
        print, and industrial talent agency based in Raleigh, NC. We provide experienced
        performers to productions large and small nationwide, with credits ranging from independent
        film and industrials to national commercials and studio tentpoles. With 20 years
        of experience representing both SAG-AFTRA and non-union performers, you can rest
        assured that your career or production is in the right hands.</p>
    </div>

    <h2 class = "creditheader">THE TEAM</h2>

    <div class='teamcontainer'>

    <div class = 'teampicbox'>
    <figure>
    <img class="teampic" alt="Anne Greene" src="{{ url_for('static', filename='img/team/anne.jpg' ) }}">
    <figcaption><h1 class= 'teamname'>Anne Greene</h1><h3>Founder / Head of Commercial</h3></figcaption>
    </figure>
    </div>

    <div class = 'teampicbox'>
    <figure>
    <img class="teampic" alt="Rudy Greene" src="{{ url_for('static', filename='img/team/rudy.jpg' ) }}">
    <figcaption><h1 class='teamname'>Rudy Greene</h1><h3>Founder / Head of Theatrical</h3></figcaption>
    </figure>
    </div>

    </div>

    <div class='teamcontainer'>

    <div class = 'teampicbox'>
    <figure>
    <img class="teampic2" alt="Tripp Green" src="{{ url_for('static', filename='img/team/tripp.jpg' ) }}">
    <figcaption><h1 class='teamname'>Tripp Green</h1><h3>Web Development</h3></figcaption>
    </figure>
    </div>

    <div class = 'teampicbox'>
    <figure>
    <img class="teampic2" alt="Bella Greene" src="{{ url_for('static', filename='img/team/bella.jpg' ) }}">
    <figcaption><h1 class='teamname'>Bella Greene</h1><h3>SVP of Sausage Biscuits</h3></figcaption>
    </figure>
    </div>

    </div>

  </main>
{% endblock %}
