<!DOCTYPE html>

{% extends 'layout.html' %}

{% block main %}

<main>

  {%if success%}
    <h2 class='creditheader'>EDIT PROFILE</h2>

    <h3 class='contactsuccess'>Thank You! Our team is very busy, but we will review
    your message as soon possible.</h2>

    {%else%}

    <h2 class='creditheader'>EDIT PROFILE</h2>

    <div class='editprofileformwrapper'>

      {% for message in form.firstname.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.lastname.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.age.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.phone.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.sag.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.photo.errors %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

      <form name='editprofile' method='POST' enctype=multipart/form-data action="{{url_for('editprofile', profile_id=profile_id, creditcount=creditcount)}}">

          {{ form.hidden_tag() }}

          {{ form.firstname.label }}
          {{ form.firstname }}

          {{ form.lastname.label }}
          {{ form.lastname }}

          {{ form.age.label }}
          {{ form.age }}

          Height:

          {{ form.height_feet }}
          {{ form.height_feet.label }}

          {{ form.height_inches }}
          {{ form.height_inches.label }}
          <br>
          {{ form.hair.label }}
          {{ form.hair }}
          <br>
          {{ form.email.label }}
          {{ form.email }}

          {{ form.address1.label }}
          {{ form.address1 }}

          {{ form.address2.label }}
          {{ form.address2 }}

          {{ form.city.label }}
          {{ form.city }}

          {{ form.state.label }}
          {{ form.state }}

          {{ form.zipcode.label }}
          {{ form.zipcode }}
          <br>
          {{ form.phone.label }}
          {{ form.phone }}

          {{ form.sag.label }}
          {{ form.sag }}
          <br>
          {{ form.equity.label }}
          {{ form.equity }}
          <br>
          {{ form.photo.label }}
          {{ form.photo }}

          {{ form.submit }}

        </form>
      </div>
      {%endif%}
</main>

{% endblock %}
