<!DOCTYPE html>

{% extends 'layout.html' %}

{% block main %}
  <main>

    <div class="bannerphotos">
      {% for pic in piclist %}
      <div class="crop">
        <a href="{{ url_for('profilepage', profile_id=pic.user.id) }}"><img class="grayscale" alt="headshot" src="{{ url_for('static', filename='img/uploads/' + pic.path ) }}"></a>
      </div>
      {% endfor %}
    </div>

    <div class='iconcontainer'>
    <img class="icon" alt="Film" src="{{ url_for('static', filename='img/icons/film.png' ) }}">
    <img class="icon" alt="Television" src="{{ url_for('static', filename='img/icons/tv.png' ) }}">
    <img class="icon" alt="Print" src="{{ url_for('static', filename='img/icons/print.png' ) }}">
    <img class="icon" alt="Industrial" src="{{ url_for('static', filename='img/icons/industrial.png' ) }}">
    </div>

  </main>
  {% endblock %}
