<!DOCTYPE html>

{% extends 'layout.html' %}

{% block main %}
<main>



<div class="profilewrapper">
  <div class="profilepic">
    <img alt="headshot" src="{{ url_for('static', filename='img/uploads/' + photo.path ) }}">
    {% if user %}
    <a href="{{ url_for('editprofile', profile_id=photo.user.id, creditcount=1) }}" class='profilebutton'>EDIT</a>
    {% endif %}
  </div>

  <div class="infowrapper">
    <h1 class="creditheader">{{ actor.firstname }} {{ actor.lastname }}</h1>
    <div class="info">
    Height: {{ actor.height_feet }}'{{ actor.height_inches }}"
    </div>
  </div>
</div>

</main>
{% endblock %}
