<!DOCTYPE html>

{% extends 'layout.html' %}

{% block main %}
<main>

  <div class="profilepic">
    <img class="logo" alt="logo" src="{{ url_for('static', filename='img/uploads/' + photo.path ) }}">
    {% if user %}
    <form method='POST' enctype='multipart/form-data' action="{{ url_for('uploadphoto', userid = user.id) }}">
    <input type='file' name='photo'>
    <input type='submit' value='Upload'>
    </form>
    {% endif %}
  </div>

  <div class="infowrapper">

  </div>

</main>
{% endblock %}
