input {
  display: block;
  margin-bottom: 10px;
  &[name=submit] {
    width: 100px;
    margin-bottom: 10px;
    margin-top:15px;
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
}

.loginwrapper {
	width: 365px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
	margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  form {
    margin-top: 20px;
  }
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;

  li {

    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    &.current{
    background: #ededed;
    color: #222;
    }

  }

}

.tab-content{
  display: none;
  min-height:325px;
  background: #ededed;
  padding: 15px;
  &.current{
  display: inherit;
  }
}

.loginflash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 200px;
}

#signInButton {
  margin-top:10px;
  float:left;
}

.fb-login-button {
  float:left;
  margin-right: 15px;
  margin-top:11px;
}
